<!DOCTYPE html>

<html>
   <head>
      <title>APIs and Microservices Projects | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <div class="container">
      <h1>Timestamp Microservice</h1>
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/timestamp/2015-12-25">[project url]/api/timestamp/2015-12-25</a></li>
        <li><a href="api/timestamp/1451001600000">[project url]/api/timestamp/1451001600000</a></li>
        <li>
          <a href="api/timestamp/"> Test Empty </a>
        </li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
      <hr />
    </div>

    <div class="container">
        <h2>Request Header Parser Microservice</h2>
        <h3>Example Usage:</h3>
        <p>
          <a href="api/whoami">[base url]/api/whoami</a>
        </p>
        <h3>Example Output:</h3>
        <p>
          <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
        <hr />
      </div>

    <div class="containter">
    <h1>URL Shortener Microservice</h1>
      <section>
        <form action="api/shorturl/new" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <hr />
    </div>

    <div class="container">
      <h1>Exercise tracker</h1>
      <form action="/api/exercise/new-user" method="post">
        <h3>Create a New User</h3>
        <p><code>POST /api/exercise/new-user</code></p>
        <input id="uname" type="text" name="username" placeholder="username">
        <input type="submit" value="Submit">
      </form>
      <form action="/api/exercise/add" method="post">
        <h3>Add exercises</h3>
        <p><code>POST /api/exercise/add</code></p>
        <input id="uid" type="text" name="userId" placeholder="userId*">
        <input id="desc" type="text" name="description" placeholder="description*">
        <input id="dur" type="text" name="duration" placeholder="duration* (mins.)">
        <input id="dat" type="text" name="date" placeholder="date (yyyy-mm-dd)">
        <input type="submit" value="Submit">
      </form>
      <p><strong>GET users's exercise log: </strong><code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code></p>
      <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
      <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
      <hr />
    </div>
  </body>
</html>
